<section class="angle-bg sky-bg section-padding" id="projects-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <mat-spinner *ngIf="!projects" style="margin-left: 45%"></mat-spinner>
        <div id="caption_slide" *ngIf="projects" class="carousel slide caption-slider" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let project of projects; let i = index"
                 [ngClass]="{ 'item active row': i === selectedProjectIndex, 'item row': i !== selectedProjectIndex}">
              <div class="v-center">
                <div class="col-xs-12 col-md-6">
                  <div class="caption-title" style="margin-bottom: 30px" data-animation="animated fadeInUp">
                    <h2 style="margin-bottom: 40px">Projetos</h2>
                    <h1>{{project.name}}</h1>
                  </div>
                  <div style="margin-left:-50px; margin-top: -4px">
                    <app-slider [imgsUrl]="[project.imgURL]"></app-slider>
                  </div>
                  <div class="project-description">
                    <p>{{project.description}}</p>
                  </div>
                </div>
                <div style="margin-top: 100px" class="col-xs-12 col-md-6" >
                  <div >
                    <mat-icon>timeline</mat-icon>
                    <span><b>Rentabilidade garantida: </b>{{project.rentabilidadeGarantida}}% do CDI</span>
                  </div>
                  <div>
                    <mat-icon>equalizer</mat-icon>
                    <span><b>Rentabilidade mensal média: </b>{{project.rentabilidadeMensalMedia}}%</span>
                  </div>
                  <div>
                    <mat-icon>access_time</mat-icon>
                    <span><b>Prazo de retorno do investimento: </b> {{project.tempoDeRetorno}} dias</span>
                  </div>
                  <div>
                    <mat-icon>monetization_on</mat-icon>
                    <span><b>Rentabilidade ao final do empreedimento – ROI: </b>{{project.rentabilidadeFinal}}%</span>
                  </div>
                  <div>
                    <mat-icon>check</mat-icon>
                    <span><b>Captação necessária: </b>R$ {{project.captacaoNecessaria}}</span>
                  </div>
                  <div>
                    <mat-icon>insert_invitation</mat-icon>
                    <span><b>Prazo para finalizar a captação: </b>{{project.prazoParaFinalizarCaptacao}}</span>
                  </div>
                  <div>
                    <mat-icon>attach_money</mat-icon>
                    <span><b>Valor de cada cota: </b>R$ {{project.valorDeCota}}</span>
                  </div>
                    <div>
                    <mat-icon style="color: yellow">warning</mat-icon>
                    <span style="margin-top: -10px">Os valores acima são estimados</span>
                  </div>

                  <div>
                    <div class="caption-desc" style="margin-top: 30px" data-animation="animated fadeInUp">
                      <p><b>Captação atual: </b>R$ {{project.captacaoAtual}} / R$ {{project.captacaoNecessaria}}</p>
                    </div>
                    <div class="progress" style="width: 75%">
                      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated active"
                           role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                           [ngStyle]="{'width': getPercentage(project)+'%' }">
                        {{getPercentage(project)}}%
                      </div>
                    </div>
                    <div *ngIf="project.captacaoAtual<project.captacaoNecessaria*MAX_INVESTMENT_PERCENTAGE" class="caption-button" style="margin-top: -20px" data-animation="animated fadeInUp">
                      <a class="button" (click)="onInvest(project)" style="width: 75%; text-align: center; border-radius: 4px; height: 35px; margin-bottom: 30px">
                        <div style="margin-top: -5px; cursor: pointer ">Investir</div>
                      </a>
                    </div>
                    <h3 style="color: white" *ngIf="project.captacaoAtual>=project.captacaoNecessaria*MAX_INVESTMENT_PERCENTAGE" class="ended-projects">
                      <mat-icon>lock</mat-icon> Investimentos encerrados
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Indicators -->
          <ol class="carousel-indicators" style="margin-bottom: -70px; margin-top: 20px" *ngIf="projects">
            <li *ngFor="let project of projects; let i = index" style="width: 100%"
                data-target="#caption_slide" (click)="selectProject(i)"
                [ngClass]="{ 'active': i == selectedProjectIndex }">
              <strong>{{project.name}} </strong>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
