
<form class="form" [formGroup]="form" style="margin-top: 13px;"
      action="##" name="bankInfoForm" id="bankInfoForm">
  <mat-form-field style="width: 30%; margin-left: 10%">
    <mat-select [formGroup]="form" formControlName="bankNumber"
                class="form-control" style="margin-bottom: -2px" [(ngModel)]="bankInfo.bankNumber"
                name="bankNumber" id="bankNumber" placeholder="Banco*">
      <mat-option *ngFor="let bank of banks" [value]="bank.value">
        {{ bank.value + ' - ' + bank.label }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="form.controls['bankNumber'].invalid &&
            (form.controls['bankNumber'].dirty ||
            form.controls['bankNumber'].touched)">{{ "Banco inválido" }}
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 13%">
    <input matInput [formGroup]="form" formControlName="agency" type="number"
           class="form-control no-spin" name="agency" [(ngModel)]="bankInfo.agency"
           id="agency" placeholder="Agência*">
    <mat-error
      *ngIf="form.controls['agency'].invalid &&
            (form.controls['agency'].dirty ||
            form.controls['agency'].touched)">{{ "Agência inválida" }}
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 18%">
    <input matInput [formGroup]="form" formControlName="checkingAccount" type="number"
           class="form-control no-spin" name="checkingAccount" [(ngModel)]="bankInfo.checkingAccount"
           id="checkingAccount" placeholder="Conta corrente*">
    <mat-error
      *ngIf="form.controls['checkingAccount'].invalid &&
            (form.controls['checkingAccount'].dirty ||
            form.controls['checkingAccount'].touched)">{{ "Conta corrente inválida" }}
    </mat-error>
  </mat-form-field>

  <button mat-button class="navigationSaveButton"
          [disabled]="form.invalid" *ngIf="showSaveButton"
          type="submit" (click)="save()">
    <mat-icon style="color: white">check</mat-icon>
    SALVAR
  </button>
  <br>
  <span style="color: white; font-size: 1.6em; margin-left: 10%">
    <b>Observação: </b>
    A conta corrente deve conter os números juntamente com o dígito
  </span>
  <div *ngIf="onUpdateBankInfo()"></div>
</form>
