.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.validate-input {
  position: relative;
}

.m-b-10 {margin-bottom: 10px;}

.p-b-45 {padding-bottom: 45px;}

.limiter {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -250px;
}

.txt1 {
  font-size: 16px;
  color: #e3ebed;
  line-height: 1.4;
}

.txt1:hover {
  color: #FFFFFF;
}

.container-login100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.wrap-login100 {
  width: 65%;
  background: transparent;
}



/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  color: #FFFFFF;
  margin: 10px;
  float: right;
}

.closeIcon:hover {
  color: red;
}

.login100-form-title {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  margin-top: -15px;
}

/*---------------------------------------------*/
.login100-form-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.login100-form-avatar img {
  width: 100%;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input100 {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  display: block;
  width: 100%;
  background: #fff;
  height: 50px;
  border-radius: 4px;
  padding: 0 30px 0 53px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(0,91,234, 0.6);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.p-t-190 {padding-top: 45px;}

.p-t-25 {padding-top: 25px;}

.p-b-30 {padding-bottom: 30px;}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #00c6fb;
  padding-left: 18px;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #e0e0e0;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top: 0;
  left: 0;
  background: rgb(19, 143, 194, 0.9);
  background: -webkit-linear-gradient(right, rgb(96, 192, 224), rgb(19, 143, 194));
  background: -o-linear-gradient(right, rgb(96, 192, 224), rgb(19, 143, 194));
  background: -moz-linear-gradient(right, rgb(96, 192, 224), rgb(19, 143, 194));
  background: linear-gradient(right, rgb(96, 192, 224), rgb(19, 143, 194));
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.login100-form-btn:hover {
  background: transparent;
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

.text-center {
  text-align: center !important;
}

.w-full {width: 100%;}
