<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="text-center col-xs-4">
  <img style="margin-bottom: 15px"
       [src]="user.profilePicture || 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'"
       class="avatar img-circle img-thumbnail" alt="avatar">
  <input [(ngModel)]="user.profilePicture" type="file" class="text-center center-block file-upload">
  <button mat-raised-button class="logoutBtn" style="margin-top: 20px" color="warn" (click)="onLogout()">Sair</button>
</div>


<form class="form" action="##" name="profileForm" id="profileForm">
  <div class="form-group">
    <div class="col-xs-4">
      <label for="name"><h4>Nome completo</h4></label>
      <input [(ngModel)]="user.displayName" type="text" class="form-control input100" name="name" id="name" placeholder="Nome Completo*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <label for="email"><h4>Email</h4></label>
      <input [(ngModel)]="user.email" type="email" class="form-control input100" name="email" id="email" placeholder="usuario@email.com" >
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="ddi"><h4>DDI</h4></label>
      <input [(ngModel)]="user.ddi" type="text" class="form-control input100" name="ddi" id="ddi" value="55" placeholder="DDI*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="phone"><h4>Telefone</h4></label>
      <input [(ngModel)]="user.phone" type="text" class="form-control input100" name="phone" id="phone" placeholder="(83) 98789-2093">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="birthDay"><h4>Data de nascimento</h4></label>
      <input [(ngModel)]="user.birthDay" type="date" class="form-control input100" name="birthDay" id="birthDay">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="issuingBody"><h4>Orgão Emissor</h4></label>
      <input [(ngModel)]="user.issuingBody" type="text" class="form-control input100" id="issuingBody" name="issuingBody" placeholder="Orgão Emissor*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="rg"><h4>RG</h4></label>
      <input [(ngModel)]="user.rg" type="text" class="form-control input100" name="rg" id="rg" placeholder="RG*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="cpf"><h4>CPF</h4></label>
      <input [(ngModel)]="user.cpf" type="text" maxlength="14" class="form-control input100" name="cpf" id="cpf" placeholder="xx.xxx.xxx-xx">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <label for="country"><h4>País</h4></label>
      <div class="form-group input100">
        <mat-select id="country" [(ngModel)]="user.country" name="country" id="country" placeholder="Selecione">
          <mat-option *ngFor="let country of countries" [value]="country.nome_pais">
            {{ country.sigla + ' - ' + country.nome_pais }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2">
      <label for="uf"><h4>UF</h4></label>
      <input [(ngModel)]="user.uf" type="text" class="form-control input100" name="uf" id="uf" placeholder="UF*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="cep"><h4>CEP</h4></label>
      <input [(ngModel)]="user.cep" type="text" class="form-control input100" name="cep" id="cep" placeholder="xxxxx-xxx">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="city"><h4>Cidade</h4></label>
      <input [(ngModel)]="user.city" type="text" class="form-control input100" name="city" id="city" placeholder="Cidade*">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-6">
      <label for="address"><h4>Endereço</h4></label>
      <input [(ngModel)]="user.address" type="text" class="form-control input100" name="address" id="address" placeholder="Endereço*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="number"><h4>Número</h4></label>
      <input [(ngModel)]="user.number" type="text" class="form-control input100" name="number" id="number" placeholder="Numero*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <label for="complement"><h4>Complemento</h4></label>
      <input [(ngModel)]="user.complement" type="text" class="form-control input100" name="complement" id="complement" placeholder="Complemento*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <label for="profession"><h4>Profissão</h4></label>
      <input [(ngModel)]="user.profession" type="text" class="form-control input100" name="profession" id="profession" placeholder="Profissão*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="civilStatus"><h4>Estado Civil</h4></label>
      <div class="form-group input100">
        <mat-select id="civilStatus" [(ngModel)]="user.civilStatus" id="civilStatus" name="civilStatus" placeholder="Selecione">
          <mat-option *ngFor="let status of civilStatus" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <br>
      <button mat-button class="navigationSaveButton pull-right" *ngIf="showSaveButton" (click)="save()">
        <mat-icon style="color: white">check</mat-icon>
        SALVAR
      </button>
    </div>
  </div>
</form>
