<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="text-center col-xs-4" [ngStyle]="{'margin-top': !showButtons ? '5%' : '2%' }">
  <img [src]="personalInfo.profilePicture || 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'"
       class="avatar img-circle img-thumbnail profilePicture" alt="avatar">
  <input (change)="onSelectFile($event)" type="file" id="profilePicture"
         class="text-center center-block file-upload">
  <button *ngIf="showButtons" mat-raised-button class="logoutBtn" style="margin-top: 20px"
          color="warn" (click)="onLogout()">Sair</button>
</div>


<form class="form" action="##" name="profileForm" id="profileForm">
  <div class="form-group">
    <div class="col-xs-4">
      <label for="name">
        <h4 *ngIf="textIsValid(user.displayName)">Nome Completo</h4>
        <h4 *ngIf="!textIsValid(user.displayName)" class="validationMessage">Nome Completo*</h4>
      </label>
      <input [(ngModel)]="user.displayName" type="text" class="form-control input100"
             name="name" id="name" placeholder="Nome Completo*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <label for="email">
        <h4 *ngIf="emailIsValid()">E-mail</h4>
        <h4 *ngIf="!emailIsValid()" class="validationMessage">E-mail*</h4>
      </label>
      <input [(ngModel)]="user.email" type="email" class="form-control input100"
             name="email" id="email" placeholder="usuario@email.com" >
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="issuingBody">
        <h4 *ngIf="textIsValid(personalInfo.issuingBody)">Orgão Emissor</h4>
        <h4 *ngIf="!textIsValid(personalInfo.issuingBody)" class="validationMessage">Orgão Emissor*</h4>
      </label>
      <input [(ngModel)]="personalInfo.issuingBody" type="text" class="form-control input100"
             id="issuingBody" name="issuingBody" placeholder="Orgão Emissor*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="rg">
        <h4 *ngIf="numberIsValid(personalInfo.rg)">RG</h4>
        <h4 *ngIf="!numberIsValid(personalInfo.rg)" class="validationMessage">RG*</h4>
      </label>
      <input [(ngModel)]="personalInfo.rg" type="number" class="form-control input100"
             name="rg" id="rg" placeholder="RG*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="cpf">
        <h4 *ngIf="cpfIsValid()">CPF</h4>
        <h4 *ngIf="!cpfIsValid()" class="validationMessage">CPF*</h4>
      </label>
      <input [(ngModel)]="personalInfo.cpf" type="text" maxlength="14" class="form-control input100"
             name="cpf" id="cpf" placeholder="xx.xxx.xxx-xx">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="ddi">
        <h4 *ngIf="numberIsValid(personalInfo.ddi)">DDI</h4>
        <h4 *ngIf="!numberIsValid(personalInfo.ddi)" class="validationMessage">DDI*</h4>
      </label>
      <input [(ngModel)]="personalInfo.ddi" type="number" class="form-control input100"
             name="ddi" id="ddi" placeholder="DDI*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="phone">
        <h4 *ngIf="phoneIsValid()">Telefone</h4>
        <h4 *ngIf="!phoneIsValid()" class="validationMessage">Telefone*</h4>
      </label>
      <input [(ngModel)]="personalInfo.phone" type="number" class="form-control input100"
             name="phone" id="phone" placeholder="98789-2093">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="birthDay">
        <h4 *ngIf="birthDayIsValid()">Data de Nascimento</h4>
        <h4 *ngIf="!birthDayIsValid()" class="validationMessage">Data de Nascimento*</h4>
      </label>
      <input (dateChange)="onDateChange($event.value)" [value]="selectedDate" [matDatepicker]="picker" id="birthDay"
             class="form-control input100" name="birthDay" placeholder="Data de Nascimento*">
      <div style="margin-left: 75%; margin-top: -65px; size: 10px">
        <mat-datepicker-toggle style="size: 10px" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker style="size: 10px;  " #picker></mat-datepicker>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <label for="country">
        <h4>País</h4>
      </label>
      <div class="form-group input100">
        <mat-select id="country" [(ngModel)]="personalInfo.country"
                    name="country" placeholder="Selecione">
          <mat-option *ngFor="let country of countries" [value]="country.nome_pais">
            {{ country.sigla + ' - ' + country.nome_pais }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-2">
      <label for="uf">
        <h4 *ngIf="textIsValid(personalInfo.uf)">UF</h4>
        <h4 *ngIf="!textIsValid(personalInfo.uf)" class="validationMessage">UF*</h4>
      </label>
      <input [(ngModel)]="personalInfo.uf" type="text" class="form-control input100"
             name="uf" id="uf" placeholder="UF*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="cep">
        <h4 *ngIf="numberIsValid(personalInfo.cep)">CEP</h4>
        <h4 *ngIf="!numberIsValid(personalInfo.cep)" class="validationMessage">CEP*</h4>
      </label>
      <input [(ngModel)]="personalInfo.cep" type="number" class="form-control input100"
             name="cep" id="cep" placeholder="xxxxx-xxx">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="city">
        <h4 *ngIf="textIsValid(personalInfo.city)">Cidade</h4>
        <h4 *ngIf="!textIsValid(personalInfo.city)" class="validationMessage">Cidade*</h4>
      </label>
      <input [(ngModel)]="personalInfo.city" type="text" class="form-control input100"
             name="city" id="city" placeholder="Cidade*">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-6">
      <label for="address">
        <h4 *ngIf="textIsValid(personalInfo.address)">Endereço</h4>
        <h4 *ngIf="!textIsValid(personalInfo.address)" class="validationMessage">Endereço*</h4>
      </label>
      <input [(ngModel)]="personalInfo.address" type="text" class="form-control input100"
             name="address" id="address" placeholder="Endereço*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="number">
        <h4 *ngIf="numberIsValid(personalInfo.number)">Número</h4>
        <h4 *ngIf="!numberIsValid(personalInfo.number)" class="validationMessage">Número*</h4>
      </label>
      <input [(ngModel)]="personalInfo.number" type="number" class="form-control input100"
             name="number" id="number" placeholder="Numero*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-4">
      <label for="complement">
        <h4 *ngIf="textIsValid(personalInfo.addressComplement)">Complemento</h4>
        <h4 *ngIf="!textIsValid(personalInfo.addressComplement)" class="validationMessage">Complemento*</h4>
      </label>
      <input [(ngModel)]="personalInfo.addressComplement" class="form-control input100"
             name="complement" id="complement" type="text" placeholder="Complemento*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <label for="profession">
        <h4 *ngIf="textIsValid(personalInfo.profession)">Profissão</h4>
        <h4 *ngIf="!textIsValid(personalInfo.profession)" class="validationMessage">Profissão*</h4>
      </label>
      <input [(ngModel)]="personalInfo.profession" type="text" class="form-control input100"
             name="profession" id="profession" placeholder="Profissão*">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="civilStatus">
        <h4>Estado Civil</h4>
      </label>
      <div class="form-group input100">
        <mat-select id="civilStatus" [(ngModel)]="personalInfo.civilStatus" id="civilStatus"
                    name="civilStatus" placeholder="Selecione">
          <mat-option *ngFor="let status of civilStatus" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
  <div *ngIf="onUpdateSaveBtnStatus()"></div>
  <div *ngIf="onUpdatePersonalInfo()"></div>
  <div class="form-group">
    <div class="col-xs-12">
      <br>
      <button mat-button class="navigationSaveButton pull-right"
              *ngIf="showButtons" (click)="save()" [disabled]="!infoIsValid()">
        <mat-icon style="color: white">check</mat-icon>
        SALVAR
      </button>
    </div>
  </div>
</form>
