<section class="gray-bg section-padding" id="advantages-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <h2>VANTAGENS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="box">
          <div class="box-icon">
            <img src="images/portfolio-icon-1.png" alt="">
          </div>
          <h3>#1 Prazos curtos</h3>
          <p>Todos os nossos projetos apresentam uma rentabilidade mínima
            garantida, incentivando as empresas a realizar mais rapidamente os
            lucros dos investidores.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="box">
          <div class="box-icon">
            <img src="images/portfolio-icon-6.png" alt="">
          </div>
          <h3>#2 Tecnologia</h3>
          <p>Diferente de várias outras modalidades de investimento disponíveis
            no mercado, aqui não existem intermediários, e o processo é
            inteiramente digital, aumentado a margem de lucro e rentabilidade.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="box">
          <div class="box-icon">
            <img src="images/portfolio-icon-2.png" alt="">
          </div>
          <h3>#3 Segurança</h3>
          <p>As empresas parceiras são rigidamente inspecionadas e auditadas, e
            o investidor ainda recebe relatórios sobre o andamento do projeto,
            garantindo transparência no processo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 ">
        <div class="box">
          <div class="box-icon">
            <img src="images/portfolio-icon-5.png" alt="">
          </div>
          <h3>#4 Alto Rendimento</h3>
          <p>Nosso modelo de SCP garante que sua rentabilidade seja LÍQUIDA,
            ou seja, o lucro obtido já será repassado para você descontado o
            imposto de renda. Isto ocorre porque neste modelo você é configurado
            como um sócio “oculto” da empresa.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="box">
          <div class="box-icon">
            <!--images/portfolio-icon-5.png-->
            <!--images/portfolio-icon-4.png-->
            <img src="images/portfolio-icon-4.png" alt="">
          </div>
          <h3>#5 Experiência</h3>
          <p>Não se aventure onde não conhece! O investimento imobiliário por
            conta própria, na maioria das vezes, leva a prejuízos por falta de
            expertise. Aqui você investe através de profissionais qualificados e
            com grande experiência na construção civil.</p>
        </div>
      </div>
    </div>
  </div>
</section>
