<section class="gray-bg section-padding" id="faq-page">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <h2 style="margin-bottom: 20px">PERGUNTAS FREQUENTES</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                  <div class="panel-group" id="accordion">
                      <div class="panel padding">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">
                              <mat-icon>more</mat-icon>Qual o propósito dos investimentos?</a>
                          </h4>
                          <div id="collapse1" class="panel-collapse collapse in">
                              <p>A Attus tem a função de captar recursos junto a pequenos investidores, com o propósito de financiar empreendimentos imobiliários, substituindo os grandes bancos e instituições financeiras neste papel. Desta forma, você investidor recebe altos rendimentos que seriam recebidos por estes bancos e instituições financeiras, além de receber também parte dos lucros da operação.</p>
                          </div>
                      </div>
                      <div class="panel">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <mat-icon>more</mat-icon>Qual a relação jurídica entre a Attus e os investidores?
                              </a>
                          </h4>
                          <div id="collapse2" class="panel-collapse collapse">
                              <p>A relação se dá através de uma Sociedade em Cotas de Participação (SCP). Neste contrato, uma empresa denominada Sócia Ostensiva (neste caso, a construtora) se encarrega de executar determinado empreendimento, utilizando para tal fim verbas advindas de um conjunto de apoiadores ou patrocinadores, chamados de Sócios Ocultos (neste caso, você investidor). Ao final do processo os sócios ocultos têm direito a uma remuneração definida em contrato por sua contribuição financeira.</p>
                          </div>
                      </div>
                      <div class="panel">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <mat-icon>more</mat-icon>Nesta relação de SCP o investidor fica protegido de problemas jurídicos relacionados à construtora ou ao empreendimento?
                              </a>
                          </h4>
                          <div id="collapse3" class="panel-collapse collapse">
                              <p>Completamente isolado, uma vez que como o próprio nome indica, o Sócio Oculto não aparece em nenhum negócio jurídico da empresa, não havendo nenhuma responsabilidade dos mesmos em relação a ações trabalhistas, dívidas ou qualquer ônus relacionado à empresa (construtora).</p>
                          </div>
                      </div>
                      <div class="panel">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <mat-icon>more</mat-icon>Este modelo de negócio é legal?
                              </a>
                          </h4>
                          <div id="collapse4" class="panel-collapse collapse">
                              <p>Sim, tudo feito na Attus tem respaldo legal, garantido a segurança jurídica dos investidores. As normas estão claramente descritas no Código Civil Brasileiro e na “Lei das S.A”.</p>
                          </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            <mat-icon>more</mat-icon>Qual a tributação aplicada aos ganhos obtidos com meus investimentos?
                          </a>
                        </h4>
                        <div id="collapse5" class="panel-collapse collapse">
                          <p>Devido ao nosso modelo de negócio, estruturado em forma de Sociedade em Cotas de Participação (SCP), a tributação é feita dentro da própria construtora e da Attus, portanto as rentabilidades oferecidas para o investidor (Sócio oculto) representam rendimento LÍQUIDO na forma de dividendos.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                            <mat-icon>more</mat-icon>Além de uma alta rentabilidade, ainda recebo tudo livre de impostos?
                          </a>
                        </h4>
                        <div id="collapse6" class="panel-collapse collapse">
                          <p>Exatamente. Isso graças ao nosso modelo de negócio, totalmente inserido no ordenamento jurídico e claramente descrito em contrato, não havendo nenhuma burlagem de lei ou “jeitinho brasileiro”.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                            <mat-icon>more</mat-icon>Como declaro os ganhos obtidos em minha declaração anual de imposto de renda?
                          </a>
                        </h4>
                        <div id="collapse7" class="panel-collapse collapse">
                          <p>Como descrito anteriormente, os rendimentos configuram divisão de lucros empresariais (dividendos), sendo informados na aba de “rendimentos não tributáveis”.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                            <mat-icon>more</mat-icon>Como são escolhidas as empresas participantes (construtoras)?
                          </a>
                        </h4>
                        <div id="collapse8" class="panel-collapse collapse">
                          <p>Trabalhamos com empresas sólidas, com marcada presença mercado imobiliário, de boa reputação, que apresentam passado de sucesso em suas entregas, não sendo aceitas empresas endividadas inadimplentes ou com qualquer histórico negativo. A Attus não tem interesse de ajudar empresas passando por dificuldade financeira, apenas alavancar empresas sólidas e bem administradas. Dentro destas empresas buscamos ainda projetos de alto potencial de retorno, para garantir o maior rendimento aliado a um alto grau de segurança.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                            <mat-icon>more</mat-icon>Quais os custos ou taxas de investimento?
                          </a>
                        </h4>
                        <div id="collapse9" class="panel-collapse collapse">
                          <p>Nenhum. Todos os custos são arcados pela Attus e pela construtora associada.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                            <mat-icon>more</mat-icon>O que a Attus ganha nesse processo?
                          </a>
                        </h4>
                        <div id="collapse10" class="panel-collapse collapse">
                          <p>Somos remunerados com uma pequena porcentagem do lucro da operação, pago pela própria construtora.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                            <mat-icon>more</mat-icon>O investimento é considerado de risco?
                          </a>
                        </h4>
                        <div id="collapse11" class="panel-collapse collapse">
                          <p>Os investimentos imobiliários são por natureza considerados de baixo risco. Você como investidor detém por contrato uma parcela daquele empreendimento, e portanto praticamente não há riscos na operação. Além disso garantimos uma rentabilidade mínima mensal para os casos (raríssimos) de atraso nas obras ou nas vendas.</p>
                        </div>
                      </div>
                      <div class="panel">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                            <mat-icon>more</mat-icon>Esse sistema de investimento é um crowdfunding?
                          </a>
                        </h4>
                        <div id="collapse12" class="panel-collapse collapse">
                          <p>Não, pois é um sistema de sociedade com fins específicos de financiamento de projetos, porém não é aberto ao público geral, sendo reservado para invesidores convidados.</p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
