<form class="form" [formGroup]="investmentForm" #formDir="ngForm">
  <div class="cross-validation" [class.cross-validation-error]="formDir.errors?.formDir && (formDir.touched || formDir.dirty)">
    <div class="form-group col-xs-5">
      <label for="project"><h4>Projeto</h4></label>
      <div class="form-group input100">
        <mat-select formControlName="selectedProjectId" name="project" id="project"
                    placeholder="Selecione" required>
          <mat-option *ngFor="let project of projects" [value]="project.id">
            {{ project.name }}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-3">
        <label for="quotas"><h4>Nº de Cotas</h4></label>
        <input formControlName="quotas" type="number" min="1" step="1"
               class="form-control input100" name="quotas"
               id="quotas" placeholder="Nº de Cotas*" required>
        <div *ngIf="!quotasIsValid()"
             class="alert alert-danger">
            Nº de cotas inválido.
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-3">
        <label for="investmentValue"><h4>Valor a ser investido</h4></label>
        <input formControlName="investmentValue" type="number" min="1"
               class="form-control input100 no-spin" name="investmentValue"
               id="investmentValue" placeholder="Valor a ser investido*" required>
        <div *ngIf="!investmentValueIsValid()"
             class="alert alert-danger">
          Valor inválido.
        </div>
      </div>
    </div>
    <div *ngIf="disableSubmit()"></div>
  </div>
</form>
