.logo {
  height: 120px;
  width: 220px;
  margin-top: -21px;
  margin-bottom: -25px;
  margin-left: -10px;
}

p {
  font-size: 1.6vw;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
}
