<form class="form" action="##" name="bankInfoForm" id="bankInfoForm">
  <div class="form-group">
    <div class="col-xs-5">
      <label for="bank"><h4>Banco</h4></label>
      <div class="form-group input100">
        <mat-select [(ngModel)]="user.bankNumber" name="bank" id="bank" placeholder="Selecione">
          <mat-option *ngFor="let bank of banks" [value]="bank.value">
            {{ bank.value + ' - ' + bank.label }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2">
      <label for="agency"><h4>Agência</h4></label>
      <input [(ngModel)]="user.agency" type="number" min="1" step="1" class="form-control input100 no-spin" name="agency" id="agency" placeholder="Agência*">
      <div *ngIf="!numberIsValid(user.agency)"
           class="alert alert-danger">
        Valor inválido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <label for="checkingAccount"><h4>Conta Corrente</h4></label>
      <input [(ngModel)]="user.checkingAccount" type="number" min="1" step="1" class="form-control input100 no-spin" name="checkingAccount" id="checkingAccount" placeholder="Conta Corrente*">
      <div *ngIf="!numberIsValid(user.checkingAccount)"
           class="alert alert-danger">
        Valor inválido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <br>
      <button mat-button class="navigationSaveButton pull-right" [disabled]="disableSaveBtn()"
              *ngIf="showSaveButton" type="submit" (click)="save()">
        <mat-icon style="color: white">check</mat-icon>
        SALVAR
      </button>
      <div *ngIf="disableSaveBtn()"></div>
    </div>
  </div>
</form>
