<ng-container>
  <div class="preloader">
      <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
      </div>
  </div>

  <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand logo">
                  <h2>Attus</h2>
              </a>
          </div>

          <nav class="collapse navbar-collapse" id="primary-menu">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#home-page">Inicio</a></li>
                  <li><a href="#how-it-works">Como funciona</a></li>
                  <li><a href="#feature-page">Vantagens</a></li>
                  <li><a href="#projects-page">Projetos</a></li>
                  <li><a href="#faq-page">FAQ</a></li>
                  <li><a href="#contact-page">Contato</a></li>
              </ul>
          </nav>
      </div>
  </div>

  <header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute anlge-bg"></div>
    <div class="container">
      <div class="row v-center">
        <div class="col-xs-12 col-md-7 header-text">
          <h2>It’s all about Promoting your Business</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ex inventore vel error quibusdam animi fugiat, doloribus dolores consectetur nulla deleniti sint blanditiis quod debitis quis vitae officiis tempora numquam.</p>
          <a href="#" class="button white">Watch video</a>
        </div>
      </div>
    </div>
  </header>

  <app-how-it-works></app-how-it-works>

  <app-advantages></app-advantages>

  <app-projects></app-projects>

  <app-faq></app-faq>

  <footer class="footer-area relative sky-bg" id="contact-page">
      <app-contact></app-contact>
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 text-center">
                      <p>&copy;Copyright 2018 All right resurved.  This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</ng-container>

