<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div (click)="close()" style="color: #005bea; text-align: end">
  <mat-icon class="closeIcon">close</mat-icon>
  <span style="margin-right: 41px"></span>
</div>
<div class="limiter">

  <div class="header-text">
    <h1><b>Cadastro</b> - {{pageTitle}}</h1>
  </div>

  <div class="" style="margin-left: -10%">
    <div class="tab-content">
      <div class="tab-pane active" *ngIf="pageTitle===PERSONAL_INFO_PAGE_TITLE">
        <div class="text-center col-xs-3 small" style="margin-left: 80px">
          <img [src]="personalInfo.profilePicture || 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'"
               class="avatar img-circle img-thumbnail profilePicture" alt="avatar">
          <input (change)="onSelectFile($event)" name="profilePicture" type="file" class="text-center center-block file-upload">
        </div>

        <form class="form" [formGroup]="form" action="##" name="profileForm" id="profileForm">

          <mat-form-field>
            <input matInput formControlName="name" [(ngModel)]="user.displayName"
                   [formGroup]="form" type="text" class="form-control"
                   name="name" id="name" placeholder="Nome Completo*">
            <mat-error
                *ngIf="form.controls['name'].invalid &&
                      (form.controls['name'].dirty ||
                      form.controls['name'].touched)">{{ "Nome deve ter somente letras" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="email" [(ngModel)]="user.email"
                   [formGroup]="form" type="text" class="form-control"
                   name="email" id="email" placeholder="E-mail*" >
            <mat-error
              *ngIf="form.controls['email'].invalid &&
                      (form.controls['email'].dirty ||
                      form.controls['email'].touched)">{{ "Exemplo: nome@gmail.com" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="password" [formGroup]="form"
                   id="password"  placeholder="Senha*" [(ngModel)]="user.password"
                   type="password" class="form-control">
            <mat-error
              *ngIf="form.controls['password'].invalid &&
            (form.controls['password'].dirty ||
            form.controls['password'].touched)">{{ "Deve possuir número e no mínimo 8 caracteres" }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="confirmPassword" [formGroup]="form"
                   id="confirmPassword" placeholder="Confirmação de senha*"
                   type="password" class="form-control">
            <mat-error
              *ngIf="form.controls['confirmPassword'].invalid &&
            (form.controls['confirmPassword'].dirty ||
            form.controls['confirmPassword'].touched)">
              <div *ngIf="form.controls['confirmPassword'].errors.MatchPassword">Senha não coincide</div>
              <div *ngIf="form.controls['confirmPassword'].errors.required">Confirmação de senha necessária</div>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="issuingBody" [(ngModel)]="personalInfo.issuingBody"
                   [formGroup]="form" type="text" class="form-control"
                   name="issuingBody" id="issuingBody" placeholder="Orgão Emissor*">
            <mat-error
              *ngIf="form.controls['issuingBody'].invalid &&
                      (form.controls['issuingBody'].dirty ||
                      form.controls['issuingBody'].touched)">{{ "Somente letras permitidas" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 14.4%">
            <input matInput formControlName="rg" [(ngModel)]="personalInfo.rg"
                   [formGroup]="form" type="number" class="form-control"
                   name="rg" id="rg" placeholder="RG*">
            <mat-error
              *ngIf="form.controls['rg'].invalid &&
                      (form.controls['rg'].dirty ||
                      form.controls['rg'].touched)">{{ "RG inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 14.4%">
            <input matInput formControlName="cpf" [(ngModel)]="personalInfo.cpf"
                   [formGroup]="form" type="number" class="form-control"
                   name="cpf" id="cpf" placeholder="CPF*">
            <mat-error
              *ngIf="form.controls['cpf'].invalid &&
                      (form.controls['cpf'].dirty ||
                      form.controls['cpf'].touched)">{{ "CPF inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="birthDay" [matDatepicker]="picker"
                   [formGroup]="form" class="form-control"
                   name="birthDay" id="birthDay" placeholder="Data de nascimento*">

            <mat-datepicker-toggle style="color: white; height: 50px !important" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error
              *ngIf="form.controls['birthDay'].invalid &&
                      (form.controls['birthDay'].dirty ||
                      form.controls['birthDay'].touched)">{{ "Data inválida" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 7.4%">
            <input matInput formControlName="ddi" [(ngModel)]="personalInfo.ddi"
                   [formGroup]="form" type="number" class="form-control"
                   name="ddi" id="ddi" placeholder="DDI*">
            <mat-error
              *ngIf="form.controls['ddi'].invalid &&
                      (form.controls['ddi'].dirty ||
                      form.controls['ddi'].touched)">{{ "DDI inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 21.4%">
            <input matInput formControlName="phone" [(ngModel)]="personalInfo.phone"
                   [formGroup]="form" type="number" class="form-control"
                   name="phone" id="phone" placeholder="Telefone*">
            <mat-error
              *ngIf="form.controls['phone'].invalid &&
                      (form.controls['phone'].dirty ||
                      form.controls['phone'].touched)">{{ "Telefone inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin-left: 102px">
            <input matInput formControlName="profession" [(ngModel)]="personalInfo.profession"
                   [formGroup]="form" type="text" class="form-control"
                   name="profession" id="profession" placeholder="Profissão*">
            <mat-error
              *ngIf="form.controls['profession'].invalid &&
                      (form.controls['profession'].dirty ||
                      form.controls['profession'].touched)">{{ "Profissão inválida" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 26.9%">
            <mat-select id="civilStatus" [formGroup]="form" formControlName="civilStatus" [(ngModel)]="personalInfo.civilStatus"
                        name="civilStatus" placeholder="Estado Civil*" style="margin-bottom: -2px" class="form-control">
              <mat-option *ngFor="let status of civilStatus" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="form.controls['civilStatus'].invalid &&
                    (form.controls['civilStatus'].dirty ||
                    form.controls['civilStatus'].touched)">{{ "Estado civil inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 25%">
            <mat-select id="country" [formGroup]="form" formControlName="country" [(ngModel)]="personalInfo.country"
                        name="country" placeholder="País*" style="margin-bottom: -2px" class="form-control">
              <mat-option *ngFor="let country of countries" [value]="country.nome_pais">
                {{ country.sigla + ' - ' + country.nome_pais }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="form.controls['country'].invalid &&
                    (form.controls['country'].dirty ||
                    form.controls['country'].touched)">{{ "País inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 13%; margin-left: 102px">
            <input matInput formControlName="uf" [(ngModel)]="personalInfo.uf"
                   [formGroup]="form" type="text" class="form-control"
                   name="uf" id="uf" placeholder="UF*">
            <mat-error
              *ngIf="form.controls['uf'].invalid &&
                      (form.controls['uf'].dirty ||
                      form.controls['uf'].touched)">{{ "UF inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 15.5%">
            <input matInput formControlName="cep" [(ngModel)]="personalInfo.cep"
                   [formGroup]="form" type="number" class="form-control"
                   name="cep" id="cep" placeholder="CEP*">
            <mat-error
              *ngIf="form.controls['cep'].invalid &&
                      (form.controls['cep'].dirty ||
                      form.controls['cep'].touched)">{{ "CEP inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 21%">
            <input matInput formControlName="city" [(ngModel)]="personalInfo.city"
                   [formGroup]="form" type="text" class="form-control"
                   name="city" id="city" placeholder="Cidade*">
            <mat-error
              *ngIf="form.controls['city'].invalid &&
                      (form.controls['city'].dirty ||
                      form.controls['city'].touched)">{{ "Cidade inválida" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 31%">
            <input matInput formControlName="address" [(ngModel)]="personalInfo.address"
                   [formGroup]="form" type="text" class="form-control"
                   name="address" id="address" placeholder="Endereço*">
            <mat-error
              *ngIf="form.controls['address'].invalid &&
                      (form.controls['address'].dirty ||
                      form.controls['address'].touched)">{{ "Endereço inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 10%; margin-left: 102px">
            <input matInput formControlName="number" [(ngModel)]="personalInfo.number"
                   [formGroup]="form" type="number" class="form-control"
                   name="number" id="number" placeholder="Número*">
            <mat-error
              *ngIf="form.controls['number'].invalid &&
                      (form.controls['number'].dirty ||
                      form.controls['number'].touched)">{{ "Endereço inválido" }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width: 20.5%">
            <input matInput formControlName="addressComplement" [(ngModel)]="personalInfo.addressComplement"
                   [formGroup]="form" type="text" class="form-control"
                   name="addressComplement" id="addressComplement" placeholder="Complemento*">
            <mat-error
              *ngIf="form.controls['addressComplement'].invalid &&
                      (form.controls['addressComplement'].dirty ||
                      form.controls['addressComplement'].touched)">{{ "Complemento inválido" }}
            </mat-error>
          </mat-form-field>
          <!---->
          <div class="form-group col-xs-12">
            <button type="submit" data-toggle="tab" [disabled]="form.invalid"
                    mat-button class="navigationSaveButton pull-right"
                    (click)="next()" >
              <div style="height: 35px ">
                <span *ngIf="!loading">Pŕoximo</span>
                <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
              </div>
            </button>
          </div>
        </form>
      </div><!--/tab-pane-->

      <div *ngIf="pageTitle===BANK_INFO_PAGE_TITLE" style="margin-right: 50px">
        <div style="margin-left: -3%">
          <app-bank-info (updateBankInfo)="updateBankInfo($event)"
                         (submitBtnStatusUpdate)="submitBtnIsDisabled($event)">
          </app-bank-info>
        </div>

        <button mat-button class="navigationSaveButton pull-right"
                [disabled]="submitBtnDisabled"
                (click)="signUp()" type="submit">
          <div style="height: 35px ">
            <span *ngIf="!loading">Finalizar</span>
            <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
          </div>
        </button>
        <button data-toggle="tab" (click)="back()"
                mat-button class="navigationBackButton pull-right" >
          Voltar
        </button>
      </div>
    </div><!--/tab-pane-->
  </div><!--/tab-content-->
</div>

