<div (click)="close()" style="color: #005bea; text-align: end">
  <mat-icon class="closeIcon">close</mat-icon>
  <span style="margin-right: 41px"></span>
</div>
<div class="row small">
  <mat-horizontal-stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon style="color: white; font-weight: bolder">check</mat-icon>
    </ng-template>
    <mat-step>
      <ng-template matStepLabel style="color: white"><span class="stepLabel">Dados cadastrais</span></ng-template>
      <div class="header-text instructionsText" style="margin-top: 20px; margin-bottom: 30px;">
        <h3>Confira atentamente seu dados pessoais, pois eles serão usados para confecção do contrato de investimento, garantindo sua segurança jurídica.</h3>
      </div>
      <div class="personalInfoContainer">
        <app-personal-info (updateSaveBtnStatus)="updatePersonalSaveBtnStatus($event)"
                           [showButtons]="false"></app-personal-info>
      </div>
      <div class="instructionsBtns normal">
        <button mat-button class="navigationNextButton"
                (click)="savePersonalInfo()"
                [disabled]="!savePersonalInfoBtnIsValid" matStepperNext>
          SALVAR E PROSSEGUIR
        </button>
      </div>
      <div style="margin-bottom: 360px"></div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel style="color: white">
        <span class="stepLabel">Dados bancários</span>
      </ng-template>
      <div class="header-text instructionsText">
        <h3>Confira também seus dados bancários, pois serão usados para que você receba os lucros e rendimentos sobre o investimento.</h3>
      </div>
      <div class="bankInfoContainer">
        <app-bank-info (submitBtnStatusUpdate)="bankInfoBtnUpdate($event)" [showSaveButton]="false"></app-bank-info>
      </div>
      <div class="instructionsBtns">
        <button mat-button class="navigationBackButton" matStepperPrevious>VOLTAR</button>
        <button mat-button class="bankNextButton"
                (click)="saveBankInfo()"
                [disabled]="bankInfoBtnDisabled" matStepperNext>
          SALVAR E PROSSEGUIR
        </button>
        <div style="margin-bottom: 700px"></div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel style="color: white">
        <span class="stepLabel">Investimento</span>
      </ng-template>
      <div class="header-text instructionsText">
        <h3>Escolha o número de cotas a ser investido.</h3>
        <h4 style="color: white"><u><b>Limite de cotas:</b></u> {{getQuotasLimit()}} cotas</h4>
      </div>
      <div style="margin-left: -1%">
        <app-investment-info
          (submitBtnStatusUpdate)="investmentInfoBtnUpdate($event)"
          (updateInvestmentInfo)="updateInvestmentInfo($event)">
        </app-investment-info>
      </div>
      <div class="instructionsBtns">
        <button mat-button class="navigationBackButton" matStepperPrevious>VOLTAR</button>
        <button mat-button class="investmentNextButton" [disabled]="investmentInfoBtnDisabled" matStepperNext>PRÓXIMO</button>
        <div style="margin-bottom: 700px"></div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel style="color: white">
        <span class="stepLabel">Considerações finais</span>
      </ng-template>
      <div class="header-text instructionsText">
        <h3>Após a escolha do projeto e dos valores, você receberá em seu email uma cópia do contrato (Termo de Adesão) para assinatura. Assine eletronicamente este contrato seguindo as instruções na tela. Esta assinatura é executada e garantida pela empresa de Certificação e Assinatura eletrônica <b>D4sign</b>.</h3>
        <h4><b>OBSERVAÇÂO: </b>Evite a abertura do email através de seu smartphone pois pode haver desconfiguração da tela.</h4>
        <br>
        <h3>O aporte dos valores será feito no momento da “chamada de capital”, quando se dará o início das obras.
          Os investidores serão avisados por e-mail e terão até 2 dias úteis para realizar o aporte via TED ou depósito na conta de custódia da Attus.</h3>
        <h4><b>OBSERVAÇÂO 1: </b>Se você fará o investimento através de TED, a transferência deve vir da sua conta cadastrada.</h4>
        <h4><b>OBSERVAÇÂO 2: </b>Não serão aceitos depósitos em cheque.</h4>
        <br>
        <h3>Pronto, agora é só aguardar que os seus lucros serão depositados diretamente em sua conta corrente ao final da execução e venda/pagamento do projeto. Durante este período você poderá acompanhar o andamento através da aba “Meus projetos” aqui na área de assinante.</h3>
      </div>
      <div class="instructionsBtns" style="margin-bottom: 450px">
        <button mat-button class="navigationBackButton" matStepperPrevious>VOLTAR</button>
        <button mat-button class="finishButton" (click)="invest()">FINALIZAR</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
